.menuIcon {
  position: absolute;
  top: 40px;
  right: 35px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: unset;
  z-index: 2;
}

.popover {
  position: absolute;
  right: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  background: linear-gradient(
    to bottom,
    hsl(300, 1.41%, 13.92%) 0%,
    hsl(300, 1.41%, 13.83%) 8.1%,
    hsl(300, 1.41%, 13.58%) 15.5%,
    hsl(300, 1.41%, 13.18%) 22.5%,
    hsl(300, 1.41%, 12.64%) 29%,
    hsl(300, 1.41%, 11.98%) 35.3%,
    hsl(300, 1.41%, 11.21%) 41.2%,
    hsl(300, 1.41%, 10.32%) 47.1%,
    hsl(300, 1.41%, 9.34%) 52.9%,
    hsl(300, 1.41%, 8.26%) 58.8%,
    hsl(300, 1.41%, 7.09%) 64.7%,
    hsl(300, 1.41%, 5.83%) 71%,
    hsl(300, 1.41%, 4.49%) 77.5%,
    hsl(300, 1.41%, 3.07%) 84.5%,
    hsl(300, 1.41%, 1.57%) 91.9%,
    hsl(0, 0%, 0%) 100%
  );
  box-shadow: 0 -1.7px 2.2px rgba(0, 0, 0, 0.02),
    0 -4px 5.3px rgba(0, 0, 0, 0.028), 0 -7.5px 10px rgba(0, 0, 0, 0.035),
    0 -13.4px 17.9px rgba(0, 0, 0, 0.042), 0 -25.1px 33.4px rgba(0, 0, 0, 0.05),
    0 -60px 80px rgba(0, 0, 0, 0.07);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property: opacity, right;
}

.popover[hidden] {
  transition-delay: 0s;
  opacity: 0;
}

.playbackSpeed {
  display: flex;
  flex-direction: column;
}
